.timeclock-container {
  min-height: calc(100vh - 60px); /* Adjust 60px to match your Bottom Nav Bar height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding: 20px;
  position: relative;
  background-image: url('../Background/86343.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stopwatch {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.time {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  padding: 10px 40px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:last-child {
  background-color: #f44336; /* This is already a red color */
}

button:last-child:hover:not(:disabled) {
  background-color: #d32f2f; /* Darker red on hover */
}

.results {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

.results h2 {
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.results-table {
  display: flex;
  flex-direction: column;
}

.results-header, .results-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.results-header {
  font-weight: bold;
  color: #555;
  border-bottom: 2px solid #ddd;
}

.results-header span, .results-row span {
  flex: 1;
  text-align: center;
}

.results-row:last-child {
  border-bottom: none;
}

.results-row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
